
h3 {
    background-color: indianred;color: white; text-align: center
}
.hobby2 {
    color: red;

}
.info {color:blue}
form {text-align: left}
fieldset {width:700px;}
.container {margin-left: 100px}